<div *ngIf="(pokemon$) | async as pokemon">
<table class="table table-striped">
    <thead>
        <tr>
            <th>Image</th>
            <th>ID</th>
            <th>Nome</th>
            <th>Altezza</th>
            <th>Peso</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><img src="{{ pokemon.sprites.front_default }}"></td>
            <td> {{ pokemon.id }}</td>
            <td> {{ pokemon.name }}</td>
            <td> {{ pokemon.weight }} </td>            
            <td> {{ pokemon.height }} </td>
            <td></td>
            <td><button type="button" class="btn btn-primary btn-sm">Accetta</button></td>
            <td><button type="button" class="btn btn-danger btn-sm">Rifiuta</button></td>
        </tr>
    </tbody>
</table>
</div>